.gpt3__brand{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gpt3__brand div{
    flex:1;
    margin:1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 150px;
    min-width: 120px;
}