.gpt3__cta {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 2rem;
  margin:4rem;
  border-radius: 1rem;
  background: var(--gradient-bar);
}
.gpt3__cta-container p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 12px;
  line-height: 30px;
  color: #0e0e0e;
}
.gpt3__cta-container h3 {
  font-family: var(--font-family);
  font-weight: 800;
  font-size: 24px;
  line-height: 45px;
  color: #000000;
}
.gpt3__cta-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
}
.gpt3__cta-button button {
  background: #000000;
  border-radius: 40px;
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  min-width:150px;
}

@media screen and (max-width:650px) {
   .gpt3__cta{
    flex-direction: column;
   }    
   .gpt3__cta-button {
    margin:2rem 0 0;
   }
}
@media screen and (max-width:550px) {
    .gpt3__cta{
        margin:4rem 2rem;
    }
    .gpt3__cta-container h3{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    .gpt3__cta-button{
        font-size: 14px;
        line-height: 28px;
    }
    
}
